<header id="header">
  <nav id="nav">
    <ul>
      <li><a href="{{"/" | prepend: site.url}}">Home</a></li>
      <li><a href="{{"/articles" | prepend: site.url}}">Articles</a></li>
      <li><a href="{{"/about" | prepend: site.url}}">About</a></li>
      <li><a href="{{"/contact" | prepend: site.url}}">Contact</a></li>
      <li><a href="https://trello.com/b/uApHpejD/postgres-compare-dev">Roadmap</a> </li>
      <li><a href="{{"/#cta" | prepend: site.url}}">Sign Up</a></li>
    </ul>
  </nav>
</header>
